<section>
    <div class="row">
	<div class="large-12 columns">
	    <h1 class="heading"><%= t('.apply.title') %></h1>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <p class="paragraph"><%= t('.apply.content1') %></p>
	    <p class="paragraph"><%= t('.apply.content2') %></p>
	</div>
        <div class="video-container large-12 columns">
            <iframe width="100%" height="320" src="//www.youtube.com/embed/bMXnR7gxbQ0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section>
    <div class="row">
	<div class="large-12 columns">
	    <h1 class="heading">
                <%= t('.get_involved.title') %>
            </h1>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <p class="paragraph">
                <%= t('.get_involved.content.join_us') %>
            </p>
            <p class="paragraph">
                <%= t('.get_involved.content.sponsor_us') %>
            </p>
            <p class="paragraph">
                <%= t('.get_involved.content.mentor_us') %>
            </p>
	</div>
	<div class="large-12 columns">
	    <img src="http://images.indiegogo.com/medias/938725/pictures/full/20130719185506-2013-07-18_12.51.05.jpg?1374285308" alt="" />
	    <!-- <span class="paragraph"> -->
            <blockquote>
		<%= t('.get_involved.content.ilias') %>
            </blockquote>
	    <!-- </span> -->
	</div>
    </div>

</section>
