<section class="home-content home-hero">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= t('.hero.title') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <p><%= t('.hero.content') %></p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <a href="<%= new_attendee_application_path  %>" class="button">Apply to Attend</a>
      or
      <a href='#'>see how you can get involved</a>
    </div>
  </div>
</section>

<section class="home-content">
	<div class="row">
		<div class="large-12 columns">
			<h1><%= t('.get_involved.title') %></h1>
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<p><%= t('.get_involved.content') %></p>
		</div>
		<div class="large-4 columns">
			<img src="http://lorempixel.com/200/200" alt="" />
		</div>
	</div>

	<div class="row actionable-buttons">
		<div class="large-3 columns">
			<a class="button" href="<%= new_mentor_application_path %>"><%= t('.get_involved.become_a_mentor') %></a>
		</div>
        <div class="large-2 columns">
            <script src="<%= asset_path('paypal-button.min.js') + '?merchant=5L4SHMKQHZY9Y' %>" data-button="donate" data-name="Nairobi Dev School"></script>
        </div>
		<div class="large-7 columns">
			<a class="button" href="<%= new_sponsor_application_path %>"><%= t('.get_involved.become_a_sponsor') %></a>
		</div>
	</div>
</section>


<footer>
	<div class="row">
		<div class="large-12 columns">
			<p>Copyright &copy; 2013 Nairobi Developer School. Lovingly handcrafted by us in Nairobi.</p>
		</div>
	</div>
</footer>
