<section class="home-content">
    <div class="row">
	<div class="large-12 columns">
	    <h1 class="heading"><%= t('.hero.title') %></h1>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <h3 class="paragraph"><%= t('.hero.program_breakdown.curriculum.title') %></h3>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <p class="paragraph"><%= t('.hero.program_breakdown.curriculum.content') %></p>
	    <p>
                <%= link_to "Download the Android curriculum", 'NairobiDeveloperSchoolAndroidDevelopmentCurriculum.pdf' %>
            </p>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <h3 class="paragraph"><%= t('.hero.program_breakdown.mentorship.title') %></h3>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <p class="paragraph"><%= t('.hero.program_breakdown.mentorship.content') %></p>
	</div>
    </div>

    <div class="row">
	<div class="large-10 columns">
	    <h3 class="paragraph"><%= t('.hero.program_breakdown.apprenticeship.title') %></h3>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <p class="paragraph"><%= t('.hero.program_breakdown.apprenticeship.content') %></p>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <h3 class="paragraph"><%= t('.hero.program_breakdown.community.title') %></h3>
	</div>
    </div>

    <div class="row">
	<div class="large-12 columns">
	    <p class="paragraph"><%= t('.hero.program_breakdown.community.content') %></p>
	</div>
    </div>
</section>
