<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->

	<title><%= content_for?(:title) ? yield(:title) : "Nairobi Dev School" %></title>

	<%= stylesheet_link_tag    "application" %>
        <link href='//fonts.googleapis.com/css?family=Exo+2:400,100' rel='stylesheet' type='text/css'>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag "vendor/modernizr" %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <section id="wrap" role="document">
            <div id="hero-title">
                <div class="row">
                    <div class="large-8 columns header-panel">
                        <a href='/'>
                            <h1>
                                <span class="purple">n</span>
                                <span class="yellow">d</span>
                                <span class="teal">s</span>
                            </h1>
                            <h2>nairobi dev school</h2>
                        </a>
                        <div id="lines">
                            <hr id='purple-line'>
                            <hr id='yellow-line'>
                            <hr id='teal-line'>
                        </div>
                    </div>
                    <div class="large-4 columns header-panel">
                        <div id="nav-top">
                            <nav>
                                <ul>
                                    <li> <%= link_to "Home", root_path %> </li>
                                    <li> <%= link_to "About", about_path %> </li>
                                    <li> <%= link_to "Programs", programs_path %> </li>
                                    <li> <%= link_to "Apply", new_attendee_application_path %> </li>
                                    <li> <%= link_to "Mentor", new_mentor_application_path %> </li>
                                    <li> <%= link_to "Sponsor", new_sponsor_application_path %> </li>
                                    <li> <%= link_to "Learning Forum", '//discuss.nairobidevschool.org' %> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-equalizer>
                <div id="content" class="large-8 columns" data-equalizer-watch>
                    <% if flash[:alert].present? %>
                        <div data-alert class="fixed alert-box alert">
                            <%= flash[:alert] %>
                            <a href="#" class="close">&times;</a>
                        </div>
                    <% end %>
                    <% if flash[:success].present? %>
                        <div data-alert class="fixed alert-box success">
                            <%= flash[:success] %>
                            <a href="#" class="close">&times;</a>
                        </div>
                    <% end %>
                    <% if flash[:notice].present? %>
                        <div data-alert class="fixed alert-box">
                            <%= flash[:notice] %>
                            <a href="#" class="close">&times;</a>
                        </div>
                    <% end %>
                    <% if flash[:error].present? %>
                        <div data-alert class="fixed alert-box alert">
                            <%= flash[:error] %>
                            <a href="#" class="close">&times;</a>
                        </div>
                    <% end %>

                    <%= yield %>
                </div>

                <div id="nav-bottom" class="large-4 columns header-panel" data-equalizer-watch>
                </div>
            </div>
        </section>

        <footer id="sticky_footer">
            <div class="row">
                <div class="large-12 columns" id="wrap">
                    <p>Copyright &copy; 2013 Nairobi Developer School. Lovingly handcrafted by us in Nairobi.</p>
                </div>
            </div>
        </footer>

        <%= javascript_include_tag "application" %>
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-42970428-1', 'nairobidevschool.org');
         ga('send', 'pageview');
        </script>
    </body>
</html>
